.img-responsive {
    z-index: 1;
    max-height: 424px;
}

.container-bg {
    background: lightslategray;
}

.alert-abs {
    position: absolute;
    z-index: 50;
    top: 80px;
    left: 10px;
    width: 300px;
}

.defaultPaddingIcons {
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 6px !important;
    padding-bottom: 4px !important;
}

.defaultPadding {
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.coveringCanvas{ 
    position: absolute;
    z-index: 20;
}
