<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/style.css" rel="stylesheet" type="text/css">

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<head>
  <title>Manage CCTV Cameras</title>  
</head>

<body onresize="handleResize()">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button id="btnRefresh" type="submit" class="btn btn-primary">Refresh Streams</button>
        </div>
        <div class="btn-group">
            <button id="btnRecordAll" type="button" class="btn btn-primary">Record All</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Record <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><button id="btnRecordStream1" type="button" class="btn btn-link">Stream 1</button></li>
                <li><button id="btnRecordStream2" type="button" class="btn btn-link">Stream 2</button></li>
                <li><button id="btnRecordStream3" type="button" class="btn btn-link">Stream 3</button></li>
                <li><button id="btnRecordStream4" type="button" class="btn btn-link">Stream 4</button></li>
            </ul>
        </div>
        <div class="btn-group">
            <button id="btnStopRecord" type="button" class="btn btn-primary">Stop Recording</button>
        </div>
    </div>

    <div class="container-fluid container-bg">
        <div class="row justify-content-between">
            <div class="col-sm-1"></div>
            <div class="col-sm-1 defaultPaddingIcons">
                <span class="input-group-addon"><i class="glyphicon glyphicon-stats"></i></span>
            </div>
            <div class="col-sm-2 defaultPadding">
                <input id="iptEid" type="text" class="form-control" placeholder="Experiment id" maxlength="10">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1 defaultPaddingIcons">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            </div>
            <div class="col-sm-2 defaultPadding">
                <input id="iptPid" type="text" class="form-control" placeholder="Participant id" maxlength="6">
            </div>
        </div>
    </div>

    <div class="alert-abs" id="error" style="display:none;"></div>

    <!--<table width="100%">
        <tr><td>
            <div id="stream1">
                <canvas id="cnvStream1" class="coveringCanvas"></canvas>
                <img id='streamView1' class="img-responsive" src="http://192.168.1.50/image2">
            </div>
        </td><td>
            <div id="stream2">
                <canvas id="cnvStream2" class="coveringCanvas"></canvas>
                <img id='streamView2' class="img-responsive" src="http://192.168.1.51/image2">
            </div>
        </td></tr>
        <tr><td>
            <div id="stream3">
                <canvas id="cnvStream3" class="coveringCanvas"></canvas>
                <img id='streamView3' class="img-responsive" src="http://192.168.1.52/image2">
            </div>
        </td><td>
            <div id="stream4">
                <canvas id="cnvStream4" class="coveringCanvas"></canvas>
                <img id='streamView4' class="img-responsive" src="http://192.168.1.53/image2">
            </div>
        </td></tr>
    </table>-->

    <table width="100%">
        <tr><td>
            <div id="stream1">
                <canvas id="cnvStream1" class="coveringCanvas"></canvas>
                <img id='streamView1' class="img-responsive" src="http://172.16.31.231:3000/stream1.jpg">
            </div>
        </td><td>
            <div id="stream2">
                <canvas id="cnvStream2" class="coveringCanvas"></canvas>
                <img id='streamView2' class="img-responsive" src="http://172.16.31.231:3000/stream2.jpg">
            </div>
        </td></tr>
        <tr><td>
            <div id="stream3">
                <canvas id="cnvStream3" class="coveringCanvas"></canvas>
                <img id='streamView3' class="img-responsive"><!-- src="http://172.16.31.231:3000/stream3.jpg">-->
            </div>
        </td><td>
            <div id="stream4">
                <canvas id="cnvStream4" class="coveringCanvas"></canvas>
                <img id='streamView4' class="img-responsive" src="http://172.16.31.231:3000/stream4.jpg">
            </div>
        </td></tr>
    </table>

    <script src="camClientM.js"></script>
    <script>
        window.onload = init;
    </script>
</body>

</html>
